.container {
  /* ===============
   CONTAINER-GRID SETTINGS
   =============== */
  display: grid;

  grid-template-areas: "nav side content content";

  grid-template-columns: auto auto 1fr;
  grid-template-rows: 1fr;

  height: 100vh;
  box-shadow: inset 0px 11px 8px -10px #ccc;

  /* ===============
   NAV SETTINGS
   =============== */

  nav {
    grid-area: nav;
    margin-left: 0.5rem;
    background: $lightblue;
    box-shadow: 1px 0px 5px rgba(34, 40, 49, 0.5);
    z-index: 10;

    display: grid;
    grid-template-rows: 100px 150px 1fr 90px;

    img {
      max-width: 50%;
    }

    .project-info {
      margin: 20px auto 0 auto;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      font-size: 12px;
      color: white;

      img {
        padding: 5px 0px;
      }
    }

    .nav-links {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: space-around;
      margin: 0;

      a {
        background: transparent;
        width: 100%;
        padding: 5px 12px 1px 12px;

        transition: all ease-in-out 0.1s;

        &:hover {
          background: $darkgrey;
        }
      }
    }

    .account-links {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: space-around;

      a {
        background: transparent;
        width: 100%;
        padding: 5px 12px 1px 12px;

        transition: all ease-in-out 0.2s;

        &:hover {
          background: $darkgrey;
        }
      }
    }
  }

  /* ===============
   SIDE-SUBMENU SETTINGS
   =============== */

  aside {
    grid-area: side;
    margin-right: 0.5rem;
    background: $lightgrey;
  }

  /* ===============
   MAIN-CONTENT SETTINGS
   =============== */

  main {
    grid-area: content;
    background: $lightgrey;
    z-index: -5;
  }

  /* ===============
   FOOTER SETTINGS
   =============== */

  footer {
    grid-area: footer;
    background: aquamarine;
  }

  nav,
  aside {
    margin: 0;
  }

  /* ===============
   MOBILE SETTINGS
   =============== */
  @media (max-width: 768px) {
    grid-template-areas:
      "nav"
      "side"
      "content";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      auto /* Sidebar */
      1fr; /* Content */

    nav {
      display: flex;
      justify-content: space-between;

      .project-info {
        margin: 0;
        margin-top: 4px;
      }

      .nav-links {
        flex-direction: initial;
        margin: 0 auto;
      }

      .account-links {
        flex-direction: initial;
      }
    }
  }
}
