<div class="container">
  <nav>
    <div class="project-info">
      <a href=""><img src="./style/assets/logo.png" alt=""/></a>
    </div>
    <div class="nav-links">
      <!-- no side menu, dashboard page -->
      <a href=""><img src="./style/assets/dashboard.png" alt=""/></a>
      <!-- side menu for project list and button to create project -->
      <a href=""><img src="./style/assets/projects.png" alt=""/></a>
      <!-- side menu for all closed/open/features/bugs -->
      <a href=""><img src="./style/assets/issue.png" alt=""/></a>
    </div>

    <div class="nav-spacer"></div>

    <div class="account-links">
      <a href=""><img class="question-mark" src="./style/assets/help.png"/></a>
      <a href=""
        ><img class="profile-picture" src="./style/assets/user-placeholder.png"
      /></a>
    </div>
  </nav>

  <aside></aside>
  <main></main>
</div>
